body {
  background: url("../public/mine_shaft.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App {
  text-align: center;
}

.board {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: auto;
  width: 485px;
  height: 666px;
  top: 20px;
}

.brand-logo {
  height: 100px;
  width: 100px;
  background: url("../public/logo192.png");
  background-size: 100px;
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}

.card {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: auto;
  border-radius: 5px;
  z-index: 4;
}

.container {
  position: relative;
  z-index: 3;
}

.empty {
  width: 100%;
  height: 100%;
}

.filter--red {
  opacity: 100%;
}

.filter--yellow {
  opacity: 100%;
}

.game_container {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.highlight--yellow {
  border: #cfaf23;
  border-width: 6px;
  border-style: ridge;
  box-sizing: border-box;
}

.highlight--red {
  border: #a52525;
  border-width: 6px;
  border-style: ridge;
  box-sizing: border-box;
}

.highlight--none {
  border: #232323;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
};

.navlink {
  position: relative;
  display: inline; 
  border: solid;
  padding-left: 5px;
  padding-right: 5px;
  border-width: 1px 1px 1px 1px;
  border-radius: 10px;
  color: rgb(42, 42, 42);
  background: #D6E4E5;
  font-size: larger;  
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  text-decoration: none;
  align-content: center;
  justify-content: center;
  transition: .5s;
  max-width: 70%;
  z-index: 11;
}

.navlink-active {
  background: #EB6440;
}

.navlink:hover {
  background: #EB6440;
}

.piece {
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: fit-content;
}

.space {
  width: 79px;
  height: 109px;
  background-color: darkgray;
}

.space img {
  width: 100%;
  height: 100%;
}

.space--empty {
  background-color: #444444;
}

.space--blue {
  background-color: #54579a;
}

.space--green {
  background-color: #588963;
}

.space--red {
  background-color: #763a3a;
}

.space--yellow {
  background-color: #9b8f27;
}

#banner_container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

#banner_img_container {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: rgba(158,135,44,.5);
  z-index: 10;
}

#banner_img {
  width: auto;
  height: auto;
  opacity: .9;
  margin-top: 8px;
}

#banner_navbar {
  position: fixed;
  top: 0;
  z-index: 11;
}

#content_panel {
  position: relative;
  width: 100%;
  z-index: 3;
  top: 100px;
}

#footer_container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: rgba(158,135,44,.5);
  z-index: 10;
}

#hand {
  position: relative;
  left: 100px;
  top: 20px;
}

#login {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#login input {
  margin: 10px;
}

#login button {
  margin: auto;
  width: 150px;
}

#login_card {
  height: 300px;
  width: 300px;
}

#login_card_top {
  position: fixed;
  background-color: aqua;
  width: 300px;
  height: 130px;
  padding-top: 30px;
  border-radius: 5px 5px 0 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  z-index: 5;
}

#login_card_bottom {
  position: relative;
  top: 100px;
  background-color: rgb(50, 56, 107);
  height: 125px;
  padding-top: 75px;
  border-radius: 0 0 5px 5px;
  z-index: 4;
}

#tab {
  position: absolute;
  height: 100px;
  width: 125px;
  z-index: 12;
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  width: 50px;
  height: 50px;
  z-index: 12;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 900;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color:rgb(0, 0, 0);
  z-index: 12;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {  
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
  z-index: 12;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
  z-index: 12;
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
  z-index: 12;
}

#menu {
  position: relative;
  width: 100px;
  margin: -80px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  border-bottom-right-radius: 15px;
  background-color:rgba(158,135,44);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  z-index: 11;
  display: flex;
  flex-direction: column;
}

#menu li {
  padding: 10px 0;
  font-size: 55px;
  z-index: 11;
}

#menuToggle input:checked ~ ul {
  transform: none; 
}
#playing_field {
  display: flex;
  flex-direction: row;
}

#profile_card {
  height: 670px;
  width: 600px;
  padding: 20px;
  top: 20px;
  background-color: white;
  bottom: 100px;
}